<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jobish Template</title>
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,700"
      rel="stylesheet"
    />
    <script>
      //<![CDATA[
      var Jobish = {
        conf: <%= JSON.stringify(config) %>
      };
      //]]>
    </script>
  </head>
  <body>
    <% modules.forEach(m => { %>
    <script crossorigin src="<%- m %>"></script>
    <% }) %>
  </body>
</html>
