<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script>
      //<![CDATA[
      var Env = {
        config: <%= JSON.stringify(config) %>
      };
      //]]>
    </script>
  </head>
  <body>
    <% modules.forEach(m => { %>
    <script crossorigin src="<%- m %>"></script>
    <% }) %>
  </body>
</html>
